# Environment variables
.env
backend/.env
new-frontend/.env.development

# IDE files
.vscode/settings.json
.idea/

# Build artifacts
backend/target/
new-frontend/node_modules/
new-frontend/dist/

# Logs
*.log
